.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_scp85q8cnl2qpvi.eot');
    src: url('//at.alicdn.com/t/font_scp85q8cnl2qpvi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_scp85q8cnl2qpvi.woff') format('woff'),
    url('//at.alicdn.com/t/font_scp85q8cnl2qpvi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_scp85q8cnl2qpvi.svg#iconfont') format('svg');
}

body {
    font-family: "微软雅黑";
}


/* 登陆页*/

.loginbackground{
    background-image: url("../image/balloon.png")!important;
    -moz-background-size: 100% 100%!important;
    -o-background-size: 100% 100%!important;
    -webkit-background-size: 100% 100%!important;
    background-size: 100% 100%!important;
    -moz-border-image: url("../image/balloon.png") 0!important;
    background-repeat: no-repeat\9!important;
    background-image: none\9!important;
    width: 570px!important;
    height: 540px!important;
    top: 50%;
    margin-top: -210px!important;
    margin-left: -500px;
    left: 50%;
    position: absolute;
    cursor: pointer;
}
.base-color{
    width:100%;
    height:600px;
    background: -ms-linear-gradient(top, #fff,  rgba(50, 197, 163, 0.94));        /* IE 10 */
    background:-moz-linear-gradient(top,#fff,rgba(50, 197, 163, 0.94));/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fff), to(rgba(50, 197, 163, 0.94)));/*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(rgba(50, 197, 163, 0.94)));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #fff, rgba(50, 197, 163, 0.94));   /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #fff, rgba(50, 197, 163, 0.94));  /*Opera 11.10+*/
}

.c {
    margin: 0 auto;
    width: 1000px;
}
.logo{
    background-image: url("../image/logo.jpg")!important;
    -moz-background-size: 100% 100%!important;
    -o-background-size: 100% 100%!important;
    -webkit-background-size: 100% 100%!important;
    background-size: 100% 100%!important;
    -moz-border-image: url("../image/logo.jpg") 0!important;
    background-repeat: no-repeat\9!important;
    background-image: none\9!important;
    width: 50px!important;
    height: 50px!important;
}
.login-win {
    float: left;
    position: relative;
    left: 115px;
    margin-left: 56%;
    margin-top: 80px;
    width: 360px;
    min-height: 320px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #d3d3d3;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 24px 20px;
}
.login-win * {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
.flex .form-row .controls, .webkit-flex .form-row .controls {
    -webkit-flex: 1 0 75%;
    -moz-flex: 1 0 75%;
    flex: 1 0 75%;
}
.login-win input.input {
    padding: 0 1em;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 34px;
    font-size: 14px;
}
.login-win input.input:focus {
    outline: 0 none;
    border: 1px solid black;
}
.login-input{
    width: 100%;
}
.login-win .form-row {
    position: relative;
    padding: 12px 0;
}

.placeholder {
    color: #aaa;
}
.flex .form-row, .webkit-flex .form-row {
    position: relative;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.login-win button.btn {
    width: 100%;
    height: 36px;
    background-color: #ffb02b;
    color: #fff;
    font-size: 14px;
    border: 0 none;
    border-radius: 3px;
    line-height: 2.5;
}
.submit-button {
    cursor: pointer;
}

/* 让四张图片都可以重叠在一起 */
#banner {
    position: relative;
    width: 100%;
    height: 70%;
    border: 1px solid #FFFFFF;
    overflow: hidden;
}

#banner_list img {
    border: 0px;
}

#banner_bg {
    position: absolute;
    bottom: 0;
    background-color: #000;
    height: 30px;
    filter: Alpha(Opacity=30);
    opacity: 0.3;
    z-index: 1000;
    cursor: pointer;
    width: 100%;
}

#banner_info {
    position: absolute;
    bottom: 0;
    left: 5px;
    height: 22px;
    color: #fff;
    z-index: 1001;
    cursor: pointer
}

#banner_text {
    position: absolute;
    width: 100%;
    z-index: 1002;
    right: 3px;
    bottom: 3px;
}

#banner ul {
    position: absolute;
    list-style-type: none;
    filter: Alpha(Opacity=80);
    opacity: 0.8;
    z-index: 1002;
    margin: 0;
    padding: 0;
    bottom: 3px;
    right: 5px;
}

#banner ul li {
    padding: 0px 8px;
    float: left;
    display: block;
    color: #FFF;
    cursor: pointer;
}

#banner ul li.on {
    background-color: #000;
}

#banner_list a {
    position: absolute;
}

/*首页下面四个div*/
.item_content {
    width: 100%;
    height: 27%;
    margin-right: auto;
    margin-left: auto;
}

.item_content .item {
    width: 23%;
    height: 100%;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
    float: left;
    padding: 1%;
}
.item_content .item img {
    width: 100%;
    height: 90%;
    border-radius: 6px;
}